#header {
    border: 1px solid black;
    background-color: black;
  }
  
  #footer {
    background-color: black;
    height: auto;
    width: auto;
    margin-bottom: -50px;
  }
  #footer a {
    text-decoration: none;
  }
  a:visited {
    color: white;
  }
  .copy {
    color: white;
    line-height: 40px;
    word-spacing: 2px;
  }
  