#header {
  border: 1px solid black;
  background-color: black;
}

#footer {
  background-color: black;
  height: 35px;
  width: 1320px;
  margin-bottom: -50px;
}
#footer a {
  text-decoration: none;
}
a:visited {
  color: white;
}
.copy {
  color: white;
  line-height: 30px;
  word-spacing: 7px;
}
